body {
    box-sizing: border-box;
    display: block;
    background-color: rgb(18, 120, 189);
    color: rgba(240, 190, 98, 0.884);
    font-family: fantasy;
}


div {
    max-width: 500px;
    margin: auto;
}


table {
    width: auto;
    border: 1px solid rgba(240, 190, 98, 0.884);
  }
  


.image {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    display: block;
border-radius: 70%;
  }

  

